<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="/stylesheet/admin.css" />
    <link rel="stylesheet" href="/stylesheet/shop.css" />
    <style></style>
  </head>

  <body>
    <header class="header">
      <nav class="main_nav">
        <ul class="nav_list">
          <li class="nav_list-item">
            <a href="/">Manage Task</a>
          </li>
          <li class="nav_list-item">
            <a href="/admin/add-product">Update Task</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <form class="form" action="/admin/add-product" method="POST">
        <input
          class="form-input"
          type="text"
          name="title"
          placeholder="Title"
        />
        <button class="form-button" type="submit">Add Task</button>
      </form>
    </main>
  </body>
</html>
