<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
    <link rel="stylesheet" href="/stylesheet/shop.css" />
  </head>

  <body>
    <header class="header">
      <nav class="main_nav">
        <ul class="nav_list">
          <li class="nav_list-item">
            <a href="/">Home</a>
          </li>
          <li class="nav_list-item">
            <a href="/admin/add-product">Add Products</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Error 404 page not found</h1>
  </body>
</html>
