<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{docTitle}
    link(rel="stylesheet" href="/stylesheet/shop.css")


  body
    header.header
      nav.main_nav
        ul.nav_list
          li.nav_list-item
            a(href="/") My Tasks
          li.nav_list-item
            a(href="/admin/add-product") Add Task
    h1 404 error page not found