<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop page</title>
    <link rel="stylesheet" href="/stylesheet/shop.css" />
  </head>

  <body>
    <header class="header">
      <nav class="main_nav">
        <ul class="nav_list">
          <li class="nav_list-item">
            <a href="/">Task Manager</a>
          </li>
          <li class="nav_list-item">
            <a href="/admin/add-product">Update Task</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <h1>My Products</h1>
      <p>Products loading...</p>
      <label class="checkbox-container">
          <input type="checkbox" class="checkbox-input">
          <span class="checkbox-label">Checkbox Label</span>
      </label>
    </main>
  </body>
</html>
